body {
    font-size: medium;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
  }
  h {
    font-size: larger;
    font-weight: bold;
  }
  ul {
    text-align: left;
    list-style: circle;
  }
  ol {
    text-align: left;
    list-style: decimal-leading-zero;
  }
  #list {
    width: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #btnBack {
    border: 1px solid;
    border-radius: 3px;

    height: 25px;

    font-family: "Courier New", Courier, monospace;
    font-size: medium;
    font-weight: lighter;

    background-color: palevioletred;
  }

  #btnHolder{
    text-align: center;
    display: flex;
  }
  #aContainer{
    width: 100%;
    height: max-content;
    text-align: center;
    border: none;
}

#btnMemberView{
  border: 1px solid;
  border-radius: 3px;

  height: 50px;
  width: 100%;

  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  font-weight: lighter;

  background-color:paleturquoise;
}

#btnUpdate{
  border: 1px solid;
  border-radius: 3px;

  height: 25px;
  margin-left: 0;

  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  font-weight: lighter;

  background-color: palegreen;
}